.git
.gitignore
.DS_Store

__pycache__/
*.py[cod]
*.log
.pytest_cache/
.coverage

.venv/
venv/
env/
*.egg-info/

.env
.env.*

db.sqlite3
*.sqlite3
*.sqlite3-journal
*.db
media/
staticfiles/
local_settings.py

.idea/
.vscode/
Thumbs.db
desktop.ini
