{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}my Movie reviews{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'reviews/css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'reviews/css/style.css' %}">
</head>
<body>
  <header class="header">
    <div class="header-inner">
      <a class="header-brand" href="{% url 'reviews:review_list' %}">my <span class="brand-highlight">Movie</span> reviews</a>
      <a class="header-link" href="{% url 'reviews:review_create' %}">+ Add a New review</a>
    </div>
  </header>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>